.small{ font-size: 80%;}
.roomy p {
	padding-bottom: 1.1em;
}
/* Image sizes */
.image-50 img {
  width: 50%;
  margin: auto;
  vertical-align: auto;
}

.image-90 img {
  width: 90%;
  height: 70%;
  margin: auto;
  vertical-align: auto;
}



/* faded text*/
.fade { color: lightgray; }

.footer {
  background-color: #272822;
  color: #F7F8FA;
  font-size: 10pt;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20px;
}

.remark-slide-number {
  font-size: 10pt;
  bottom: 0;
  right: 0;
  position: fixed;
  margin-bottom: 2px;
  margin-right: 10px;
  color: #F7F8FA;; /* white */
  opacity: 1; /* default: 0.5 */
}